### **Project Information**


**Project Tile-**  Detailed Imports and Exports Dataset with Comprehensive Transaction Information


**Name-**  Pratyaksh Chauhan, Somyadeep Das


**Roll-Number-** 055031, 055048


**Group-Number-**  13


---

### **Description Of Project**

*  **Data Source & Size-**  Kaggle/1MB/  https://www.kaggle.com/datasets/chakilamvishwas/imports-exports-15000
*  **Data Type-** Panel
*  **Data Dimensions-** 15000, 16
*  **Data Variable Type-** Object, Int, Float
*  **Data Variable Category-**

    * **Index-** Transaction_ID, Customs_Code, Invoice_Number, Product, Supplier, Customer
  
    * **Non-Categorical-** Quantity, Value, Date, Port, Weight
  
    * **Categorical-Ordinal-**  NONE
  
  
    * **Categorical-Nominal-** Import_Export, Category, Shipping_Method, Payment_Terms, Country

### **About Dataset**

*  **Description:**
  This dataset provides detailed information on international trade transactions, capturing both import and export activities. It includes comprehensive data on various aspects of trade, making it a valuable resource for business analysis, economic research, and financial modeling.



*  **Features:**
   * **Transaction_ID:** Unique identifier for each trade transaction.
   * **Country:** Country of origin or destination for the trade.
   * **Product:** Product being traded.
   * **Import_Export:** Indicates whether the transaction is an import or export.
   * **Quantity:** Amount of the product traded.
   * **Value:** Monetary value of the product in USD.
   * **Date:** Date of the transaction.
   * **Category:** Category of the product (e.g., Electronics, Clothing, Machinery).
   * **Port:** Port of entry or departure.
   * **Customs_Code:** Customs or HS code for product classification.
   * **Weight** Weight of the product in kilograms.
   * **Shipping_Method:** Method used for shipping (e.g., Air, Sea, Land).
   * **Supplier:** Name of the supplier or manufacturer.
   * **Customer:** Name of the customer or recipient.
   * **Invoice_Number:** Unique invoice number for the transaction.
   * **Payment_Terms:** Terms of payment (e.g., Net 30, Net 60, Cash on Delivery).
     
 * **Usage:** This dataset can be used for various analyses, including:
   * **Trade Analysis:** Understanding trade patterns and trends.
   * **Economic Research:** Studying the impact of trade on different economies.
   * **Financial Modeling:** Evaluating financial performance and risks associated with trade.
   * **Supply Chain Management:** Analyzing logistics and shipping methods.
   * **Data Format:** The dataset is provided in CSV format, making it easy to load into data analysis tools and frameworks.

* **Additional Notes:**
The dataset consists of 15,000 rows, ensuring a substantial sample size for meaningful analysis.
Data is generated with realistic variability, simulating actual trade transactions.

  ___

In [26]:
# Import Relevant Python Libraries.
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import skew
from scipy.stats import kurtosis

In [28]:
#Load the Data.
import_export= pd.read_csv('/Users/pratyakshchauhan/Downloads/Imports_Exports_Dataset.csv')

In [30]:
#Data Dimensions
import_export.shape

(15000, 16)

In [32]:
#Data Variable Type
import_export.dtypes

Transaction_ID      object
Country             object
Product             object
Import_Export       object
Quantity             int64
Value              float64
Date                object
Category            object
Port                object
Customs_Code         int64
Weight             float64
Shipping_Method     object
Supplier            object
Customer            object
Invoice_Number       int64
Payment_Terms       object
dtype: object

In [34]:
#Identify & List the following Variables:
# 1. Index Variables- Transaction_ID, Customs_Code, Invoice_Number, Product, Supplier, Customer
# 2. Non-Categorical Variables- Quantity, Value, Date, Port, Weight
# 3. Ordinal Variables-
# 4. Nominal Variables- Import_Export, Category, Shipping_Method, Payment_Terms, Country

---

### **Objectives**


* **Establish Performance Benchmarks-** Define and regularly compare performance levels using statistical insights.
* **Enhance Data-Driven Decision Making-** Utilize predictive analytics for accurate demand forecasting and refine pricing strategies.
* **Optimize Shipping Strategies-** Analyze and improve logistics based on shipping costs, transit times, and product characteristics.
* **Focus on High-Contributing Categories-** Optimize inventory for dominant categories and develop strategies for underperforming ones.
* **Product-** Optimize inventory for top sellers, identify growth areas, and diversify.


### **Problem Statement**


The purpose of this analysis is to explore global trade dynamics by examining patterns in international imports and exports. Key areas of focus include understanding trade trends, identifying the most active countries and product categories, and analyzing the role of key customers and suppliers. The analysis will assess product categories to determine their contribution to trade volume and value, while also comparing imports and exports across different categories. Additionally, the relationship between key variables such as transaction value, quantity, and weight will be investigated to identify potential correlations. Another area of interest is the efficiency of shipping methods, evaluating them in terms of cost, weight, and frequency of usage to determine the most effective options for different trade scenarios. This comprehensive analysis aims to provide actionable insights for optimizing trade performance and logistics.





---

### **Analysis Of Data**

In [39]:
#Create a unique sample
my_data = import_export.sample(n=2001, replace= False, random_state=55031)
my_data.head(3)

,Transaction_ID,Country,Product,Import_Export,Quantity,Value,Date,Category,Port,Customs_Code,Weight,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
14815,c9b92da7-8db8-4167-b4c9-2b94a4416c44,Bolivia,ready,Export,284,5364.51,11/01/22,Clothing,Washingtonchester,923677,135.74,Sea,"Price, Burgess and Guerra",Sally Walker,44802928,Prepaid
12842,50d1babc-2a52-40e5-82c9-24cb856d2b0d,Denmark,visit,Export,3932,9599.03,05/03/20,Machinery,New Jacobbury,767841,1083.80,Land,Rodriguez LLC,Karen Padilla,55245802,Cash on Delivery
1953,e5007181-5481-4307-993c-47c3f953249a,Moldova,federal,Export,4923,3772.58,27/02/20,Furniture,New James,213710,2828.18,Land,Price PLC,Robert Hartman,27808101,Net 30

In [41]:
#Dimension
my_data.shape

(2001, 16)

In [43]:
#kurtosis
category_kurtosis = my_data.groupby('Category').agg({
    'Value': lambda x: kurtosis(x, nan_policy='omit'),    # Kurtosis for Value
    'Weight': lambda x: kurtosis(x, nan_policy='omit'),   # Kurtosis for Weight
    'Quantity': lambda x: kurtosis(x, nan_policy='omit')  # Kurtosis for Quantity
}).reset_index()

# Rename columns for better readability
category_kurtosis.columns = ['Category', 'Kurtosis_Value', 'Kurtosis_Weight', 'Kurtosis_Quantity']

# Output the result
category_kurtosis

      Category  Kurtosis_Value  Kurtosis_Weight  Kurtosis_Quantity
0     Clothing       -1.293823        -1.275639          -1.177957
1  Electronics       -1.189191        -1.220034          -1.223701
2    Furniture       -1.171496        -1.174237          -1.186870
3    Machinery       -1.206063        -1.315093          -1.199331
4         Toys       -1.194869        -1.162095          -1.229323

In [45]:
#skewness
category_skew = my_data.groupby('Category').agg({
    'Value': lambda x: skew(x, nan_policy='omit'),    # Skew for Value
    'Weight': lambda x: skew(x, nan_policy='omit'),   # Skew for Weight
    'Quantity': lambda x: skew(x, nan_policy='omit')  # Skew for Quantity
}).reset_index()

# Rename columns for better readability
category_skew.columns = ['Category', 'Skew_Value', 'Skew_Weight', 'Skew_Quantity']

# Output the result
category_skew

      Category  Skew_Value  Skew_Weight  Skew_Quantity
0     Clothing   -0.016226     0.126137      -0.000156
1  Electronics   -0.075877     0.023286       0.047667
2    Furniture   -0.026904    -0.053094       0.027755
3    Machinery    0.091309     0.010221       0.056153
4         Toys   -0.027890     0.041218       0.045256

In [47]:
# Group by Product and Import_Export to calculate total quantity and value
product_trade = my_data.groupby(['Product', 'Import_Export']).agg({'Quantity': np.sum, 'Value': np.sum})

# Sort products by total value in descending order
sorted_product_trade = product_trade.sort_values(by='Value', ascending=False)

# Show the top 10 products by value
sorted_product_trade.head(10)

/var/folders/0k/z2n60yd12t17w93sm1_0gp040000gn/T/ipykernel_10516/4217491113.py:2: FutureWarning: The provided callable <function sum at 0x108a03560> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  product_trade = my_data.groupby(['Product', 'Import_Export']).agg({'Quantity': np.sum, 'Value': np.sum})
/var/folders/0k/z2n60yd12t17w93sm1_0gp040000gn/T/ipykernel_10516/4217491113.py:2: FutureWarning: The provided callable <function sum at 0x108a03560> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  product_trade = my_data.groupby(['Product', 'Import_Export']).agg({'Quantity': np.sum, 'Value': np.sum})

                         Quantity     Value
Product   Import_Export
necessary Import            37245  38179.09
letter    Import            27684  37524.66
effort    Import            23434  33756.16
world     Export             9839  29661.66
onto      Export            22742  29201.16
southern  Export            26253  28920.88
lawyer    Import            33581  28808.57
food      Export            19811  27287.01
produce   Import             9157  27054.75
security  Export            22038  26639.43

In [49]:
# Group the data by Category and Shipping Method to count occurrences
shipping_preference = my_data.groupby(['Category', 'Shipping_Method']).size().reset_index(name='Count')

#For each category, finding the shipping method with the highest count (most preferred)
most_preferred_shipping = shipping_preference.loc[shipping_preference.groupby('Category')['Count'].idxmax()]

#finding out each category's most preferred shipping method, finding the product that uses it most.

# Join this data back with the original data to check which products use the most preferred shipping method
data_with_most_preferred = pd.merge(my_data, most_preferred_shipping[['Category', 'Shipping_Method']],
                                    on=['Category', 'Shipping_Method'], how='inner')

# Count the number of times each product uses the most preferred shipping method
product_usage = data_with_most_preferred.groupby(['Category', 'Product']).size().reset_index(name='Usage')

# For each category, find the product that uses the most preferred shipping method the most
top_product_by_category = product_usage.loc[product_usage.groupby('Category')['Usage'].idxmax()]

# Output the results
print("Most Preferred Shipping Method by Category:")
most_preferred_shipping

Most Preferred Shipping Method by Category:

       Category Shipping_Method  Count
1      Clothing            Land    146
4   Electronics            Land    132
8     Furniture             Sea    136
9     Machinery             Air    145
14         Toys             Sea    138

In [51]:
#correlation of data 
my_data.corr( numeric_only = True)

                Quantity     Value  Customs_Code    Weight  Invoice_Number
Quantity        1.000000  0.001560     -0.002024 -0.009153       -0.054371
Value           0.001560  1.000000      0.033579 -0.005871        0.032345
Customs_Code   -0.002024  0.033579      1.000000 -0.003825        0.008164
Weight         -0.009153 -0.005871     -0.003825  1.000000        0.013291
Invoice_Number -0.054371  0.032345      0.008164  0.013291        1.000000

In [53]:
# Subset the Non-Categorical Variables.
non_cat= my_data[['Quantity', 'Value','Date', 'Port', 'Weight']]
non_cat.head(3)

       Quantity    Value      Date               Port   Weight
14815       284  5364.51  11/01/22  Washingtonchester   135.74
12842      3932  9599.03  05/03/20      New Jacobbury  1083.80
1953       4923  3772.58  27/02/20          New James  2828.18

In [55]:
#Descriptive Statistics of the Non-Categorical Set
non_cat.describe()

          Quantity        Value       Weight
count  2001.000000  2001.000000  2001.000000
mean   4926.496752  5106.925147  2482.853958
std    2890.445278  2866.661523  1450.865032
min       5.000000   102.120000     7.680000
25%    2446.000000  2575.150000  1230.880000
50%    4878.000000  5138.730000  2455.180000
75%    7445.000000  7558.550000  3771.280000
max    9995.000000  9996.720000  4984.600000

In [57]:
# calculate the confidence interval for the variables Quantity, Value and Weight.
def confidence_interval(data, confidence=0.95):
    n = len(data)
    mean = np.mean(data)
    stderr = stats.sem(data)  # Standard error of the mean
    margin_of_error = stderr * stats.t.ppf((1 + confidence) / 2, n - 1)  # t-distribution critical value
    return (mean - margin_of_error, mean + margin_of_error)

# Assuming 'data' is your dataframe
# Calculate confidence intervals for 'Quantity', 'Value', and 'Weight'
ci_quantity = confidence_interval(my_data['Quantity'])
ci_value = confidence_interval(my_data['Value'])
ci_weight = confidence_interval(my_data['Weight'])

# Output the results
ci_results = {
    'Confidence Interval for Quantity': ci_quantity,
    'Confidence Interval for Value': ci_value,
    'Confidence Interval for Weight': ci_weight
}

print(ci_results)

{'Confidence Interval for Quantity': (4799.77469792247, 5053.218805325905), 'Confidence Interval for Value': (4981.245814126314, 5232.604480726259), 'Confidence Interval for Weight': (2419.2455590565896, 2546.46235698539)}

In [59]:
#f-test
f_stat, p_val_f = stats.levene(my_data['Quantity'], my_data['Weight'])
print("f_test, p_val")
f_stat,p_val_f

f_test, p_val

(1187.0783572675496, 4.9557020095517177e-228)

In [61]:
#t-test
t_stat, p_val = stats.ttest_1samp(my_data['Weight'], 50)
print("t_test, p_val")
t_stat, p_val

t_test, p_val

(75.00886089307869, 0.0)

In [63]:
#Subset the Categorical Variables.
catg= my_data[['Import_Export', 'Category', 'Shipping_Method', 'Payment_Terms', 'Country']]
catg.head(3)

      Import_Export   Category Shipping_Method     Payment_Terms  Country
14815        Export   Clothing             Sea           Prepaid  Bolivia
12842        Export  Machinery            Land  Cash on Delivery  Denmark
1953         Export  Furniture            Land            Net 30  Moldova

In [65]:
#the Descriptive Statistics Categorical Variable.
print("Count for different shipment methods\n")
catg['Shipping_Method'].value_counts()

Count for different shipment methods

Shipping_Method
Sea     675
Land    675
Air     651
Name: count, dtype: int64

In [67]:
#proportion for different payment methods
print("Proprtion for differnt payment methods\n")
catg['Payment_Terms'].value_counts(normalize = True)

Proprtion for differnt payment methods

Payment_Terms
Net 60              0.262369
Cash on Delivery    0.258371
Prepaid             0.242879
Net 30              0.236382
Name: proportion, dtype: float64

In [69]:
# Group by Payment_Terms and Import_Export to calculate total value
payment_terms_trade = my_data.groupby(['Payment_Terms', 'Import_Export']).agg({'Value': np.sum})

# Sort payment terms by total value in descending order
sorted_payment_terms_trade = payment_terms_trade.sort_values(by='Value', ascending=False)

# Show the payment terms associated with high-value transactions
sorted_payment_terms_trade.head(10)

/var/folders/0k/z2n60yd12t17w93sm1_0gp040000gn/T/ipykernel_10516/3132223435.py:2: FutureWarning: The provided callable <function sum at 0x108a03560> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  payment_terms_trade = my_data.groupby(['Payment_Terms', 'Import_Export']).agg({'Value': np.sum})

                                     Value
Payment_Terms    Import_Export
Net 60           Import         1394458.87
Cash on Delivery Export         1356614.64
                 Import         1344257.79
Prepaid          Export         1314567.74
Net 30           Import         1288974.55
Net 60           Export         1282760.62
Prepaid          Import         1192726.64
Net 30           Export         1044596.37

In [71]:
#import v/s export
print("Total import v/s exports\n")
catg['Import_Export'].value_counts()

Total import v/s exports

Import_Export
Import    1040
Export     961
Name: count, dtype: int64

In [73]:
#export and import values country wise
print("Total values of export and import values country wise")
my_data.groupby(['Country','Import_Export'])['Value'].sum()

Total values of export and import values country wise

Country      Import_Export
Afghanistan  Export           10159.07
             Import           12010.74
Albania      Export           19135.58
             Import           23752.51
Algeria      Export           32951.83
                                ...
Yemen        Import           22297.36
Zambia       Export           35590.79
             Import           14726.31
Zimbabwe     Export            8352.70
             Import           30677.25
Name: Value, Length: 473, dtype: float64

In [75]:
# 5 Country with max total value of import
print("5 Country with max total value of import\n")
my_data[my_data['Import_Export'] == 'Import'].groupby('Country')['Value'].sum().sort_values(ascending = False).head()

5 Country with max total value of import

Country
Congo            76171.28
Turkmenistan     55259.62
Korea            53075.04
Faroe Islands    52388.19
Bolivia          50008.30
Name: Value, dtype: float64

In [77]:
# 5 Country with max total value of export
print("5 Country with max total value of export\n")
my_data[my_data['Import_Export'] == 'Export'].groupby('Country')['Value'].sum().sort_values(ascending = False).head()

5 Country with max total value of export

Country
Finland          75398.82
Cote d'Ivoire    69515.24
Qatar            56858.75
French Guiana    52155.06
Niger            50078.87
Name: Value, dtype: float64

In [79]:
# Top 5 countries with max average value per transaction against import
print("Top 5 countries with max average value per transaction against import\n")
my_data[my_data['Import_Export'] == 'Import'].groupby('Country')['Value'].mean().sort_values(ascending = False).head()

Top 5 countries with max average value per transaction against import

Country
Dominican Republic                      9499.520000
Fiji                                    9218.165000
Jordan                                  8878.670000
United States Minor Outlying Islands    8801.866667
Solomon Islands                         8424.636667
Name: Value, dtype: float64

In [81]:
# Top 5 countries with max average value per transaction against export
print("Top 5 countries with max average value per transaction against export\n")
my_data[my_data['Import_Export'] == 'Export'].groupby('Country')['Value'].mean().sort_values(ascending = False).head()

Top 5 countries with max average value per transaction against export

Country
French Southern Territories    9884.320
Saint Pierre and Miquelon      9477.130
Sao Tome and Principe          9370.410
Djibouti                       9195.220
Belgium                        8950.475
Name: Value, dtype: float64

In [85]:
# Country wise Shipment methods count
print("Country wise Shipment methods count\n")
my_data.groupby(['Country','Shipping_Method'])['Shipping_Method'].value_counts()

Country wise Shipment methods count

Country      Shipping_Method
Afghanistan  Air                1
             Land               1
             Sea                2
Albania      Land               3
             Sea                4
                               ..
Zambia       Land               4
             Sea                4
Zimbabwe     Air                3
             Land               3
             Sea                3
Name: count, Length: 680, dtype: int64

In [89]:
# Most preferred shipping type grouped by countries
country_shipping_count = my_data.groupby(['Country','Shipping_Method'])['Shipping_Method'].value_counts().reset_index(name='Count')
print("Most preferred shipping type grouped by countries")
country_shipping_count.loc[country_shipping_count.groupby(['Country'])['Count'].idxmax()]

Most preferred shipping type grouped by countries

               Country Shipping_Method  Count
2          Afghanistan             Sea      2
4              Albania             Sea      4
5              Algeria             Air      4
8       American Samoa             Air      4
13             Andorra             Sea      4
..                 ...             ...    ...
665  Wallis and Futuna             Air      3
669     Western Sahara            Land      3
673              Yemen             Sea      3
674             Zambia             Air      4
677           Zimbabwe             Air      3

[242 rows x 3 columns]

In [91]:
# Group by Supplier to calculate total value and count of transactions
supplier_trade = my_data.groupby('Supplier').agg({'Value': [np.sum, 'count']})

# Sort suppliers by total value in descending order
sorted_supplier_trade = supplier_trade.sort_values(by=('Value', 'sum'), ascending=False)

# Show the top 10 suppliers by value
sorted_supplier_trade.head(10)

/var/folders/0k/z2n60yd12t17w93sm1_0gp040000gn/T/ipykernel_10516/738847319.py:2: FutureWarning: The provided callable <function sum at 0x108a03560> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  supplier_trade = my_data.groupby('Supplier').agg({'Value': [np.sum, 'count']})

                    Value
                      sum count
Supplier
Johnson Inc      24725.31     3
Anderson PLC     22284.65     4
Miller and Sons  21382.67     3
Brown PLC        19343.26     3
Williams LLC     19319.89     4
Baker Inc        19279.08     2
Wilson LLC       18653.72     3
Rivera Ltd       17358.04     3
Kim LLC          16347.34     2
Taylor Group     16186.10     2

---

### **Findings**


*  **Kurtosis Analysis:**  Kurtosis analysis was performed on values, weights, and quantities to understand their distribution. Higher kurtosis indicates more outliers.
*  **Skewness analysis:**  Skewness analysis was performed on values, weights, and quantities for each category. A positive skew suggests a long tail on the right side of the distribution, whereas a negative skew indicates a long tail on the left.
*  **Shipping Preference:**  We discovered the most favored shipping method for each category by evaluating usage. The investigation also revealed which products in each category used the recommended shipping option the most.
*  **Confidence Interval Calculations:** We calculated confidence intervals for quantity, value, and weight. This provides a range within which the true mean of these variables is expected to fall, allowing for a statistical evaluation of the estimates' precision.


### **Observation**


*  **Trade Dynamics:** Trade operations follow a defined pattern, with specific product categories dominating in terms of value and quantity.
*  **Shipping Method Efficiency:** Different categories choose different delivery methods, implying that the efficacy of shipping methods varies greatly depending on the goods.
*  **Distribution Insights:** The skewness and kurtosis analyses show that the distribution of trade data (such as quantity and value) is not necessarily symmetric, with large outliers influencing trade statistics.


---

### **Managerial Insights**

*  **Performance Benchmarking**
     *  **Set Benchmarks for Key Metrics:** Use the statistical insights (e.g., confidence intervals, kurtosis, skewness) to set benchmarks for acceptable performance levels. Regularly compare actual performance against these benchmarks to identify areas needing improvement.
     *  **Continuous Monitoring and Adaptation:** Regularly updating and reviewing the dataset and its analysis will enable managers to adapt to changing market conditions and make informed, agile decisions.


*  **Data-Driven Decision Making**
     *  **Utilize Predictive Analytics:** The correlation analysis between value, quantity, and weight can be leveraged to forecast demand more accurately. Managers can use this data to plan production schedules, manage resources, and optimize supply chain operations.
     *  **Refine Pricing and Promotion Strategies:** Understanding the relationship between transaction value and other variables enables more effective pricing strategies. Managers can set competitive prices and design promotions that align with customer demand and market conditions.


*  **Shipping Method Efficiency**
     *  **Optimize Shipping Strategies:** The preference for specific shipping methods by product category suggests that one size does not fit all. Managers should analyze shipping costs, transit times, and reliability for different categories to optimize logistics. This could involve renegotiating contracts with shipping providers or exploring alternative methods for cost savings.
     *  **Balance Cost and Speed:** For high-value but time-sensitive products, prioritize speed over cost. For low-value or non-urgent items, focus on cost-efficiency. Align shipping strategies with the nature of the product to enhance customer satisfaction and reduce expenses.


*  **Product and Category Focus**
     *  **Optimize Inventory for High-Contributing Categories:** The analysis highlights certain product categories that dominate in terms of trade volume and value. Managers should focus on optimizing inventory levels and supply chain strategies for these high-performing categories to maximize revenue and reduce holding costs.
     *  **Target Underperforming Categories:** Identify categories with low trade volume but high market potential. Develop strategies such as targeted marketing, partnerships, or pricing adjustments to increase their contribution to the business.


### **Recomendations**


*  **Leverage Technology for Data-Driven Decisions**
     *  **Implement Predictive Analytics:** Use predictive models to forecast demand for different product categories. This will enable better inventory planning, reduce stockouts, and minimize excess inventory.
     *  **Automate Reporting and Analysis:** Invest in business intelligence tools to automate data collection, analysis, and reporting. This will provide real-time insights, enabling quicker decision-making.


*  **Sustainability and Cost Efficiency**
     *  **Adopt Green Logistics:** Explore eco-friendly shipping options and packaging materials to reduce the environmental impact. This not only aligns with sustainability goals but also enhances brand image.
     *  **Energy and Resource Optimization:** Implement energy-efficient practices in warehouses and distribution centers. Use technology to monitor and optimize resource usage, reducing operational costs.


*  **Performance Monitoring and Continuous Improvement**
     *  **Set Performance KPIs:** Establish key performance indicators (KPIs) for logistics, sales, and customer satisfaction. Regularly review these metrics to ensure alignment with business objectives.
     *  **Feedback Loop for Improvement:** Implement a system for gathering feedback from customers, suppliers, and internal teams. Use this feedback to continuously refine processes, products, and services.


---

### **Conclusion**

The analysis conducted using Python provided a comprehensive understanding of the trade dynamics captured in the dataset. By leveraging various statistical techniques and data manipulation tools, the study identified key product categories and shipping methods contributing to trade volume and value. The use of statistical measures like kurtosis and skewness offered insights into the distribution characteristics of variables such as value, weight, and quantity, highlighting potential outliers and asymmetries in the data. Moreover, calculating confidence intervals for these variables provided a reliable range for making informed predictions and assessing data precision.


---